@model City;

<div>
    <p>City: @Model.name</p>
    <p>Degree: @Model.temp_c</p>
    <p>Feels Like: @Model.feelslike_c</p>
    <p>Humidity: @Model.humidity</p>
    <p>Precipitation: @Model.precipitation_mm</p>
    <p>Condition Text: @Model.condition_text</p>
    <p>Condition Icon: @Model.condition_icon</p>
    <p>Min Temp: @Model.min_c</p>
    <p>Avg Temp: @Model.avg_c</p>
    <p>Max Temp: @Model.max_c</p>
    <p>Current Day: @Model.current_date</p>
    <p>Current Hour: @Model.current_hour</p>
    <p>NextHour1 Temp: @Model.hour1_c</p>
    <p>NextHour2 Temp: @Model.hour2_c</p>
    <p>NextHour3 Temp: @Model.hour3_c</p>
    <p>NextHour4 Temp: @Model.hour4_c</p>
    <p>NextHour5 Temp: @Model.hour5_c</p>
    <p>NextDay1 Min: @Model.day1_min_c</p>
</div>